html, body {
    height: 100%;
    overflow: hidden;
}

body {
    background-color: lightgray;
}

/* LOGIN PAGE CSS */
.panel.login {
    margin-left: auto;
    margin-right: auto;
    margin-top: 15em;
    width: 35rem;
    height: 30rem;
    text-align: center;
}

.panel.login .panel-heading {
    padding: 0.5em;
    margin-bottom: 4em;
}

.panel.login .form-login input {
    margin-bottom: 1em;
}

.panel.login .form-login .row {
    margin-bottom: 1em;
}

.panel.login .form-login .btn {
    width: 100%;
}


.dashboard {

}

/* DASHBOARD OPTIONS PANEL CSS */
.dashboard .options-container {
    padding: 0;
}

.dashboard .options-container .panel {
    height: 100vh;
    background-color: ghostwhite;
}

.dashboard .options-container .panel .panel-body {
    padding-right: 0;
    padding-left: 0;
}

.dashboard .nav-stacked li span {
    margin-right: 2em;
    padding-bottom: .3em;
    padding-top: .3em;
}

.dashboard .nav-stacked li span + span {
    float: right;
    margin-top: .2em;
    margin-right: -1em;
    font-size: .8em;
}

.dashboard .dashboard-section {
    height: 92vh;
}

.dashboard .dashboard-section .panel {
    height: inherit;
    margin-right: 4em;
    border: 0;
}

.dashboard .dashboard-section .panel .panel-heading {
    text-align: center;
    color: white;
    margin-bottom: 2em;
}

/* CSS FOR CONSOLE */
.dashboard .dashboard-section .panel .console-section .command input {
    width: 100%;
}

.dashboard .dashboard-section .panel .console-section .command a.btn {
    width: 100%;
}

.dashboard .dashboard-section .panel .console-section .console {
    border: 1px solid gray;
    height: 70vh;
    padding: 5px 15px;
    background-color: gray;
    overflow-y: scroll;
}

.dashboard .dashboard-section .panel .console-section ul.console li {
    margin-left: 5px;
    color: white;
    font-family: "Courier New";
    font-size: 9pt;
    letter-spacing: -.5px;
}

.dashboard .dashboard-section .panel .console-section .console::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.96);
    border-radius: 4px;
    background-color: #F5F5F5;
}

.dashboard .dashboard-section .panel .console-section .console::-webkit-scrollbar {
    width: 12px;
    background-color: gray;
}

.dashboard .dashboard-section .panel .console-section .console::-webkit-scrollbar-thumb {
    border-radius: 4px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #D62929;
}
